
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
	font-family: Arial, "Helvetica Neue", sans-serif;
	padding: 30px;
	background: #f1e767;
background: -moz-radial-gradient(center, ellipse cover,  #f1e767 0%, #feb645 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #f1e767 0%,#feb645 100%);
background: radial-gradient(ellipse at center,  #f1e767 0%,#feb645 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=1 );
width: 100%;
	max-width: 1900px;
	min-width: 100px;

}

.Title{
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 49px;
}

.SmallTitle{
	font-weight: 700;
	text-align: center;
	font-family: Book Antiqua, serif;
	font-size: 35px;
	letter-spacing: 4px ;
	margin: 30px 0;
}

.Decoration{
	text-decoration: line-through;
}

.block1{
	background: url('../img/Az9rPAKz0gw.jpg');
	max-height: 800px;
min-height: 80px;
height: 100%;
max-width: 1380px;
min-width: 138px;
width: 100%;
border-radius: 25px;
box-shadow: 0px 0px 20px #000;	

}

.Arial30px{
	font-size: 30px;
	line-height: 100px;
	word-spacing: 5px ;
	letter-spacing: 3px;
	text-align: center;
	font-family: Arial, "Helvetica Neue", sans-serif;
	margin: 20px 0;
}



.Arial20px{
	font-size: 25px;
	line-height: 100px;
	word-spacing: 5px ;
	letter-spacing: 4px ;
	text-indent: 80px;
	font-family: Arial, "Helvetica Neue", sans-serif;
	background: rgba(24,181,164,0.0);
	margin: 20px 0;
}

.fontsize10{
	font-size: 25px;
	line-height: 100px;
	text-align: left;
	word-spacing: 5px ;
	letter-spacing: 4px ;
	font-family: Arial, "Helvetica Neue", sans-serif;
	background: rgba(24,181,164,0.0);
}

.img2{
	width: 90%;
	max-width: 1900px;
	min-width: 500px;

border: 6px solid lightgoldenrodyellow;
border-radius: 10px;	

}

.CircleBlock{
	border-radius: 90px;
	margin: 0px 0px 50px 0px;
	border: 10px dotted lightgoldenrodyellow;
	font-size: 30px;
	padding: 30px 40px;
	text-align: center;	
}

/**********начало работы с кнопкой добавления файла**********/

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;


 background: #febf01;
background: -moz-radial-gradient(center, ellipse cover,  #febf01 0%, #febf01 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #febf01 0%,#febf01 100%);
background: radial-gradient(ellipse at center,  #febf01 0%,#febf01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=1 );




  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.input__file-button:hover{
border: 3.1px solid rgba(230,180,2,1);	
}

.input__file-button:active{
	border: 3.5px solid rgba(230,180,2,1);
	box-shadow: 0 0 2px #660;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 3px solid #000;
}
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

/**********конец работы с кнопкой добавления файла**********/

.TextBlock{	
font-size: 30px;
border: 8px solid lightgoldenrodyellow;
border-right: none;
border-left: none;
padding: 30px 25px;
text-align: center;
margin: 90px 0px 0px 0px;

}

.Arial25pxMONOtext{
	font-size: 25px;
	line-height: 40px;
	word-spacing: 5px ;
	letter-spacing: 4px ;
	font-family: Arial, "Helvetica Neue", sans-serif;
}
.img1{
border: 6px dashed lightgoldenrodyellow;
border-radius: 99px 10px 99px 10px;	
}

.GachiBlock{	
overflow: hidden;

border-radius: 20%;
font-size: 50px;
margin: 100px 20px 20px 40px;	
border: 5px solid #999;
padding: 0px ;
box-shadow: 0px 0px 10px 5px #99b;	
}

.FirstImage{
	width: 100%;
	max-width: 1500px;
	min-width: 100px;
}




.TextDrink{
	font-weight: 600;
	text-align: left;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 25px;
	line-height: 50px;
	text-indent: 100px;
	letter-spacing: 6px ;
}

.fontsize0{
	font-size: 16px;
}




.namemagaz3{
	font-weight: 40;
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 25px;
	line-height: 55px;
	letter-spacing: 6px ;
}
.none{
	font-size: 30px;
	color:  rgba(24,181,164,0.0);
	font-family: Arial, "Helvetica Neue", sans-serif;
}



.example_block4{	
border: 8px solid lightgoldenrodyellow;
padding: 30px 0px 30px 10px;
margin: 30px -10px 0px 90px;
max-width: 800px;
font-family: Brush Script MT, Brush Script Std, cursive;
font-size: 25px;
}
.example_block5{	

font-family: Brush Script MT, Brush Script Std, cursive;
font-size: 25px;
background: rgba(24,181,164,0.0);
}














.block2{
	background: url('../img/bg3BIG.jpg');
height: 400px;
margin: 50px 10px;
border-radius: 15px;
box-shadow: 0px 0px 10px #000;	
}

.blockCenter{
	text-align: center;

margin: 100px 0px;
	
}





 

 

 




